/* * * MAIN CSS * * */
@charset "UTF-8";

/* * * * * * FONTS * * */

/* @import "fonts.css"; */
body {
    background: url(../images/bg_hello.jpg) center center no-repeat, #222222;
}

.contHello {
font-size: 4em;
font-family: sans-serif;
font-weight: 900;
text-align: center;
margin: 15% 0 0 0;
color: white;
-webkit-text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
-moz-text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
-o-text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}